{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AFR - Associação Fluminense de Reabilitação | Brasil</title>
  <link rel="stylesheet" href= {% static 'siteafr/style.css' %} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
  <header class="top-header">
    <div class="logo-container">
      <a href="{% url 'index' %}"><img src="{% static 'siteafr/images/logo.jpg' %}" alt="Logo da AFR" class="logo" title="Logo da AFR"/></a>
    </div>
    <div class="info-container">
      <div class="info-block">
        <i class="icons fa-solid fa-location-dot"></i>
        <div class="column">
          <span class="bold">Niterói, RJ</span>
          <span>Rua Lopes Trovão, 301</span>
        </div>
      </div>
      <div class="info-block">
        <i class="icons fa-solid fa-envelope"></i>
        <div class="column">
          <span class="bold">afr@afr.org.br</span>
          <span>Atendimento: 07:00 - 19:00</span>
        </div>
      </div>
      <div class="info-block">
        <i class="icons fa-solid fa-mobile-screen-button"></i>
        <div class="column">
          <span class="bold">(21) 2109-2626</span>
          <span>Fale conosco!</span>
        </div>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/AFROficial/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/afr.oficial/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCU9QXygeNJ2Z7h2pfiiZ2uA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="info-block">
        <a href="{% url 'doacao' %}" class="btn"><i class="icon-white fa-solid fa-heart"></i>Fazer Doação</a>
      </div>
    </div>
    <button class="menu-toggle" onclick="toggleMenu(this)">
      <span></span><span></span><span></span>
    </button>
  </header>
  <nav class="main-nav">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
      <li class="dropdown">
        <a href="#">Sobre</a>
        <div class="dropdown-menu">
          <a href="{% url 'nossahistoria' %}">Nossa História</a>
          <a href="{% url 'governanca' %}">Governança</a>
          <a href="{% url 'transparencia' %}">Transparência e prestação de contas</a>
          <a href="{% url 'certificacoes' %}">Certificações</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Área de atuação</a>
        <div class="dropdown-menu">
          <a href="{% url 'reabilitação' %}">Centro de Reabilitação</a>
          <a href="{% url 'depmedico' %}">Departamento Médico</a>
          <a href="{% url 'afrmais' %}">Espaço AFR+</a>
          <a href="{% url 'oficinaorto' %}">Oficina Ortopédica</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Contato</a>
        <div class="dropdown-menu">
            <a href="{% url 'trabalheconosco' %}">Trabalhe Conosco</a>
            <a href="{% url 'voluntariado' %}">Voluntariado</a>
            <a href="{% url 'sac' %}">Fale com a AFR</a>
            <a href="{% url 'cooperacao' %}">Cooperação Técnica</a>
            <a href="{% url 'visita' %}">Faça uma visita</a>
        </div>
      </li>
      <li><a href="{% url 'atendimento' %}">Atendimento</a></li>
    </ul>
  </nav>
  <nav class="sidebar" id="sidebar">
       <a href="{% url 'index' %}" class="underline-none"><div class="menu-item" onclick="toggleSubmenu(this)">HOME<span></span></div></a>
    <div class="menu-item" onclick="toggleSubmenu(this)">SOBRE<span>&#65088;</span></div>
    <div class="submenu">
      <a href="{% url 'nossahistoria' %}">Nossa História</a>
      <a href="{% url 'governanca' %}">Governança</a>
      <a href="{% url 'transparencia' %}">Prestação de contas</a>
      <a href="{% url 'certificacoes' %}">Certificações</a>
    </div>

    <div class="menu-item" onclick="toggleSubmenu(this)">ÁREA DE ATUAÇÃO<span>&#65088;</span></div>
    <div class="submenu">
      <a href="{% url 'reabilitação' %}">Centro de Reabilitação</a>
      <a href="{% url 'depmedico' %}">Departamento Médico</a>
      <a href="{% url 'afrmais' %}">Espaço AFR+</a>
      <a href="{% url 'oficinaorto' %}">Oficina Ortopédica</a>
    </div>

    <div class="menu-item" onclick="toggleSubmenu(this)">CONTATO<span>&#65088;</span></div>
    <div class="submenu">
      <a href="{% url 'visita' %}">Faça uma visita</a>
      <a href="{% url 'trabalheconosco' %}">Trabalhe Conosco</a>
      <a href="{% url 'voluntariado' %}">Voluntariado</a>
      <a href="{% url 'sac' %}">Fale com a AFR</a>
      <a href="{% url 'cooperacao' %}">Cooperação Técnica</a>
    </div>

    <a href="{% url 'atendimento' %}" class="underline-none"><div class="menu-item" onclick="toggleSubmenu(this)">ATENDIMENTO<span></span></div></a>
  </nav>
  <!-- Header inteiro daqui até o início do header -->
  <section aria-label="Newest Photos">
    <div class="carousel" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev">&#8249;</button>
      <button class="carousel-button next" data-carousel-button="next">&#8250;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <img src="{% static 'siteafr/images/AFRIMG1.png' %}">
        </li>
        <li class="slide">
          <img src="{% static 'siteafr/images/AFRIMG3.png' %}">
        </li>
        <li class="slide">
          <img src="{% static 'siteafr/images/AFRIMG2.png' %}">
        </li>
      </ul>
    </div>
  </section>
  <section class="about-us">
    <div class="text">
      <h2>Centro de Referência em Reabilitação</h2>
      <p>A AFR é uma organização sem fins lucrativos, focada em garantir terapias de Reabilitação e Medicina Física.
        A Instituição atende pessoas de todas as idades,
        recebendo pacientes via Sistema Único de Saúde (SUS), Planos de Saúde e Particulares.</p>
      <p>Hoje é um Centro Especializado em Reabilitação (CER),
        habilitado pelo Ministério da Saúde como CER II -  modalidades Física e Intelectual -
        para atendimentos a pacientes de alta complexidade.</p>
    </div>
    <div class="video-youtube">
        <div class="video-wrapper">
          <iframe width="560" height="315"
          src="https://www.youtube.com/embed/2F-DfBrsO3g?si=Q9jM5Soo0y_bcTWL"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
  </section>
  <div class="area-doacao">
    <div class="doar-content">
      <h2>Ajude a AFR a seguir com sua missão social!</h2>
      <p>A AFR é uma instituição sem fins lucrativos
       e depende do apoio de pessoas e empresas para manter sua estrutura e oferecer atendimento a quem precisa.</p>
    </div>
    <div class="doar-content-button">
      <img src="{% static 'siteafr/images/LogosimplesAFR.png' %}" alt="Logo da AFR">
      <p>Clique no botão abaixo e saiba como doar!</p>
      <a href="{% url 'doacao' %}" class="btn-footer"><i class="icon-red fa-solid fa-heart"></i>Fazer Doação</a>
    </div>
  </div>
  <div class="flex">
    <div class="card">
    <div class="card-image">
      <a href="{% url 'index' %}"><img src="{% static 'siteafr/images/AFRIMG8.avif' %}"/></a>
        <a href="{% url 'index' %}"><div class="overlay-card-image"></div></a>
    </div>
    <div class="card-content">
      <h2>Conheça a AFR</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <a href="{% url 'reabilitação' %}"><img src="{% static 'siteafr/images/AFRIMG9.avif' %}"/></a>
      <a href="{% url 'reabilitação' %}"><div class="overlay-card-image"></div></a>
    </div>
    <div class="card-content">
      <h2>Reabilitação</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <a href="{% url 'atendimento' %}"><img src="{% static 'siteafr/images/AFRIMG7.avif' %}"/></a>
      <a href="{% url 'atendimento' %}#especialidades"><div class="overlay-card-image"></div></a>
    </div>
    <div class="card-content">
      <h2>Especialidades</h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="left">
      <h2>Venha nos visitar</h2>
      <p>
        A AFR recebe visitantes interessados em conhecer seu trabalho, sejam pessoas físicas, empresas ou instituições.
        As visitas, guiadas por uma equipe capacitada,
        podem incluir tour pelas instalações, conversas com profissionais e experiências personalizadas conforme o interesse do visitante.
      </p>
    </div>
    <div class="right">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.304901838165!2d-43.109586125045624!3d-22.90212213770362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983e54d4e784b%3A0x12ebb58cd4c26593!2sAssocia%C3%A7%C3%A3o%20Fluminense%20de%20Reabilita%C3%A7%C3%A3o%20-%20AFR!5e0!3m2!1spt-BR!2sbr!4v1748284398959!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="flex">
  <div class="card-mapa">
    <div class="card-header-mapa">
      <svg class="icon" viewBox="0 0 24 24">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
      </svg>
      <div>
        <h2>Niterói, RJ</h2>
        <p>Rua Lopes Trovão, 301</p>
      </div>
    </div>
    <div class="info">
      <p><strong>CEP:</strong> 24.220-070</p>
      <p><strong>País:</strong> Brasil</p>
    </div>
  </div>
  </div>

  <!-- Footer daqui até fechar o footer -->
  <footer class="footer">
  <div class="footer-header">
    <a href="#"><img src="{% static 'siteafr/images/AFRIMG4.png' %}" alt="Logo da AFR" class="logo" title="Logo da AFR" id="voltarTopo"/></a>
    <div class="social-icons-footer">
      <a href="https://www.facebook.com/AFROficial/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/afr.oficial/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCU9QXygeNJ2Z7h2pfiiZ2uA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
  <div class="footer-content">
    <div class="footer-column">
      <h3>UNIDADES</h3>
      <ul>
        <li><a href="{% url 'unidadefluminense' %}">Associação Fluminense de Reabilitação</a></li>
        <li><a href="{% url 'unidadelisaura' %}">Unidade de Reabilitação e Atendimento Especializado Lisaura Ruas</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>OUTRAS PÁGINAS</h3>
      <ul>
        <li><a href="{% url 'parceiroscaptacao' %}">Parceiros de Captação</a></li>
        <li><a href="{% url 'imprensa' %}">Imprensa</a></li>
        <li><a href="{% url 'editais' %}">Editais</a></li>
        <li><a href="{% url 'fag' %}">Perguntas Frequentes</a></li>
        <li><a href="{% url 'guia' %}">Guia</a></li>
        <li><a href="{% url 'privacidade' %}">Política de Privacidade</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>COMO AJUDAR</h3>
      <ul>
        <li><a href="{% url 'doacao' %}" class="btn-footer"><i class="icon-red fa-solid fa-heart"></i>Fazer Doação</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>CERTIFICAÇÕES</h3>
      <ul>
        <li><img src="{% static 'siteafr/images/CEBASCERTIFICACAO.png' %}" class="cert"/></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>RESTRITO</h3>
      <ul>
        <li><a href="{% url 'sistema-restrito-login' %}" class="btn-restrita"><img src="{% static 'siteafr/images/LogosimplesAFR.png' %}" class="btn-icon-restrito"/>Sistema AFR</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="{% static 'siteafr/script.js' %}"></script>
</body>
</html>